<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roomregistration">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SpecificReservationActivity"
            android:configChanges="orientation"
            android:parentActivityName=".MyReservations"
            />
        <activity
            android:name=".MyReservations"
            android:parentActivityName=".LoginScreenActivity"
            android:configChanges="orientation"
            />
        <activity
            android:name=".MakeReservationActivity"
            android:parentActivityName=".RoomActivity"
            android:configChanges="orientation"
            />
        <activity
            android:name=".SpecificRoomActivity"
            android:label="@string/title_specific_room"
            android:parentActivityName=".RoomActivity"
            android:configChanges="orientation"
            />
        <activity
            android:name=".RoomActivity"
            android:label="@string/title_rooms"
            android:parentActivityName=".LoginScreenActivity"
            android:configChanges="orientation"
            />
        <activity
            android:name=".LoginScreenActivity"
            android:label="@string/title_login_scrren"
            android:configChanges="orientation"
            />
        <activity android:name=".RegisterActivity"
            android:label="@string/title_register_screen"
            android:configChanges="orientation"
            />
        <activity android:name=".MainActivity"
            android:label="@string/title_login_screen"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>